header {
    background: green;
    color: aliceblue;
}
aside {
    background: #006297;
    color: white;
}
footer{
    background:#CF4301;
    color: white;

}
.color1{
    background: #0A6393;
}